In [41]:
import pandas as pd
import numpy as np

In [24]:
csv_path = 'data_sample.csv'

# Loading the data, using the 'id' column as the index
nonTreated = pd.read_csv(csv_path, index_col='id')

# This DataFrame does not have any duplicates
# nonTreated.duplicated().value_counts()

In [26]:
# This DataFrame has missing values 
# nonTreated.isna().value_counts()

In [42]:
# Dropping all rows with missing values or duplicates
df = nonTreated.dropna().drop_duplicates()

# Here we are creating filters to assign the plan type to each user
planTypes = [
    (df['isFiliated'] == True) & (df['paid'] >= 1800),
    (df['isFiliated'] == False) & (df['paid'] > 600) & (df['paid'] < 1800),
    (df['isFiliated'] == False) & (df['paid'] < 600)
]

# The category that each filter will assign to the user
planValues = ['Premium', 'Standard', 'Free']

# Creating a new column with the plan type, filters and categories
df['plan'] = np.select(planTypes, planValues, default='Pro')

# Showing the DF info, such as types, columns and entries
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 951 entries, 1 to 1000
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        951 non-null    object
 1   gender      951 non-null    object
 2   paid        951 non-null    float64
 3   isFiliated  951 non-null    bool
 4   state       951 non-null    object
 5   date        951 non-null    object
 6   plan        951 non-null    object
dtypes: bool(1), float64(1), object(5)
memory usage: 52.9+ KB

In [44]:
# In case we want to save the cleaned data as another csv
# df.to_csv('cleaned_data_sample.csv')
# df.to_json('cleaned_data_sample.json')
# df.to_markdown('cleaned_data_sample.md')
# df.to_excel('cleaned_data_sample.xlsx')
# df.to_xml('cleaned_data_sample.xml')

In [43]:
# To show the first 10 records, if the argument is not passed, it will show the first 5
df.head(10)

,name,gender,paid,isFiliated,state,date,plan
id,,,,,,,
1,Goofy Payne,Não-binário,623.73,True,SC,04-01-2024,Pro
2,Zen Mccarthy,Não-binário,827.08,False,PB,18-04-2021,Standard
3,Inspiring Hofstadter,Masculino,480.45,False,PI,05-01-2020,Free
4,Focused Gauss,Não-binário,623.07,True,PI,01-05-2020,Pro
5,Ecstatic Kilby,Masculino,813.21,False,GO,18-02-2022,Standard
6,Nostalgic Spence,Feminino,157.36,False,ES,09-11-2021,Free
7,Musing Babbage,Masculino,773.20,True,SC,16-11-2024,Pro
8,Nice Bassi,Feminino,189.29,False,AP,17-09-2020,Free
10,Fervent Mccarthy,Feminino,413.04,True,AP,05-03-2023,Pro
11,Mystifying Lalande,Masculino,1969.37,False,AC,25-11-2021,Pro

In [45]:
# The same works with the last records, using tail
df.tail(10)

,name,gender,paid,isFiliated,state,date,plan
id,,,,,,,
991,Pensive Sutherland,Não-binário,874.46,False,CE,14-02-2023,Standard
992,Serene Almeida,Masculino,663.79,True,RO,05-08-2024,Pro
993,Brave Hermann,Masculino,545.12,True,AC,17-04-2021,Pro
994,Boring Perlman,Masculino,1331.70,True,AC,04-07-2023,Pro
995,Agitated Edison,Não-binário,37.95,False,DF,14-09-2023,Free
996,Adoring Pasteur,Masculino,437.81,False,PA,30-11-2023,Free
997,Heuristic Cori,Masculino,539.48,True,PB,21-09-2024,Pro
998,Loving Cannon,Feminino,907.96,False,MS,03-06-2023,Standard
999,Magical Panini,Não-binário,218.76,True,DF,24-09-2020,Pro
1000,Intelligent Elbakyan,Não-binário,803.41,True,SP,09-11-2023,Pro

In [59]:
# Here, we're showing only the 10 woman with the highest paid values
fBigPayments = df.loc[
    (df['paid'] >= 400 )
    &
    (df['gender'] == "Feminino")
].head(10).sort_values(by='paid', ascending=False)

fBigPayments

,name,gender,paid,isFiliated,state,date,plan
id,,,,,,,
59,Musing Gagarin,Feminino,2713.46,True,PE,03-10-2022,Premium
36,Busy Kepler,Feminino,2621.68,True,RN,16-04-2023,Premium
43,Heuristic Proskuriakova,Feminino,2477.30,False,SP,22-03-2022,Pro
29,Fervent Faraday,Feminino,1857.03,True,SP,12-10-2023,Premium
34,Hungry Goldstine,Feminino,1483.95,True,PR,14-11-2023,Pro
16,Adoring Edison,Feminino,707.78,True,MT,30-01-2020,Pro
46,Jovial Mayer,Feminino,631.35,True,SE,08-08-2023,Pro
49,Optimistic Dijkstra,Feminino,574.23,True,TO,04-07-2022,Pro
15,Dreamy Fermi,Feminino,453.16,False,AC,21-10-2020,Free
10,Fervent Mccarthy,Feminino,413.04,True,AP,05-03-2023,Pro