In [33]:
import pandas as pd
import numpy as np

In [15]:
csv_path = 'cleaned_data_sample.csv'
df = pd.read_csv(csv_path, index_col='id')

In [16]:
# Converting the date column to datetime instead of string
# df['date'] = pd.to_datetime(df['date'])

# Sorting the dataframe by date in descending order
dfByDate = df.sort_values(by='date', ascending=False)
# dfByDate.head(10).value_counts('state')
dfByDate.head(10)

,name,gender,paid,isFiliated,state,date,plan
id,,,,,,,
913,Stoic Hofstadter,Feminino,206.29,True,RR,31-12-2021,Pro
331,Thirsty Cannon,Masculino,141.21,True,ES,31-12-2021,Pro
656,Sad Mcnulty,Masculino,2615.99,False,PA,31-10-2021,Pro
154,Happy Meitner,Feminino,778.85,True,AM,31-05-2022,Pro
39,Frosty Heyrovsky,Não-binário,859.94,True,PE,31-05-2022,Pro
445,Gallant Chatterjee,Feminino,158.01,True,PB,31-05-2022,Pro
284,Jovial Gauss,Feminino,2335.32,True,RO,31-05-2020,Premium
377,Adoring Austin,Não-binário,1935.11,False,MT,31-05-2020,Pro
462,Silly Panini,Não-binário,519.53,False,DF,31-03-2024,Free
475,Interesting Jennings,Masculino,578.39,False,PE,31-03-2024,Free

In [39]:
bigAM = df.loc[
    (df['paid'] >= 2000)
    &
    (df['state'] == 'AM')
].sort_values(by='paid', ascending=False)
bigAM

,name,gender,paid,isFiliated,state,date,plan
id,,,,,,,
272,Pensive Tereshkova,Não-binário,2972.44,False,AM,04-04-2020,Pro
379,Friendly Feistel,Feminino,2927.86,True,AM,04-02-2024,Premium
399,Dreamy Shannon,Masculino,2834.68,False,AM,28-09-2021,Pro
453,Relaxed Hawking,Não-binário,2822.43,False,AM,26-11-2022,Pro
434,Zen Keldysh,Feminino,2539.67,True,AM,01-12-2021,Premium
756,Vigorous Chatelet,Masculino,2374.67,False,AM,12-03-2024,Pro
870,Gallant Moore,Masculino,2224.51,False,AM,04-10-2021,Pro
170,Mystifying Williams,Masculino,2114.07,True,AM,13-04-2020,Premium
95,Quizzical Feynman,Não-binário,2073.97,False,AM,22-03-2020,Pro

In [44]:
bigAM.value_counts('gender')

gender
Masculino      4
Não-binário    3
Feminino       2
dtype: int64

In [43]:
# Difference between the highest and lowest big value paid in AM
difference = (bigAM['paid'].min() - bigAM['paid'].max()) * -1
difference

898.4700000000003